-@tweets.each do |t|
	.row.well{:id => t.id}
		.span5
			%h5= "@#{t.user.t_screen_name}" if t.user
			%h3= raw t.message
		.span3
			%h3= t.question.answer if t.question
		.span3
			%button.btn.btn-success{:id => t.id} Correct
			%button.btn.btn-danger{:id => t.id} Incorrect
			%button.btn.btn-warning{:id => t.id} Skip